<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{welcomeMessage}}</h1>
    <p>Hoy es {{day}}</p>

    <H2>Lista de estudiantes</H2>
    <ul>
        {{#each students}}
            <li>{{this}}</li>
            {{/each}}
    </ul>
</body>
</html>